@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

body {
  margin-top: 10px;
  margin: auto;
  width: 50%;
  font-family: 'Hammersmith One',sans-serif;
  font-style: normal;
  text-align: center;
}

#mainHeader {
  width: 330px;
  height: 167px;
  margin: 0 auto;
  font-size: 125px;
  text-align: center;
  margin-bottom: 10px;
}

.characteristic {
  font-size: 40px;
}

.blue {
  color:#001868;
}

.red {
  color:#9F0400;
}

.green {
  color:#006200;
}

.yellow {
  color:#FFC600;
}

#waiting {
  font-size: 40px;
}

#name {
  font-size: 45px;
}

#color {
  font-size: 45px;
}
